@model First_Project.Models.ViewModels.RegistrationViewModel

@{
    ViewData["Title"] = "Registartion";
}



<head>
    <!-- LINEARICONS -->
    <link rel="stylesheet" href="~/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/css/Login_css/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="inner">
            <img src="~/img/images/image-1.png" alt="" class="image-1">
            <form asp-action="Registration">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.Message != null)
                {
                    <div action="form-group" style="color:green">@ViewBag.Message</div>
                }
                <h3>New Account?</h3>

            

                <div class="form-group">
                    <i class="fa-duotone fa-solid fa-user fa-beat fa-lg"></i>
                    <label asp-for="Name" class="control-label mr-2"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                   
                </div>
                <div class="form-group">
                    <i class="fa-duotone fa-solid fa-lock fa-beat " style="--fa-primary-color: #43c021; --fa-secondary-color: #34893e;"></i>

                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                  
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Register" /><span> Register</span></button>
                </div>


               
                <img src="~/img/images/image-2.png" alt="" class="image-2">
            </form>
              

                
            




        </div>

    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

